*{
  padding: 0;
  margin: 0;
}

body{
  background:#fff;
}



section .form-calc{
  padding:2.5rem 1.5rem;
  
}



.navbar{
      background:#7cb342;
      color:#111111;
    }

.navbar navbar-brand{ 
      color: #111111;
      padding-left:40px;
    }
    
    .navbar-b ul li a{
      color: #111111 !important;
      text-transform:uppercase;
    }
    
  
  
  .result strong{
    color: #69f0ae;
    font-weight:700;
  } 

.registeration{
  padding:80px 0;

}


form .btn, .dash-btn {
  padding:20px 30px 20px 30px;
  background:#f44336;
  border:6px solid transparent;
  color:#fff;
}
  

.signform h6{
  font-size:30px;
  font-weight:700;
  color:#7cb342;

}


.form-control{
  margin-top:3px;
}

.label{
  margin-top:9px;
}






.dash-welcome{
  padding: 60px 0;
  width:100%;
  
}

.dash-welcome img{
  width: 100%;
  border:6px solid transparent;
  transition:.6s;

}

.dash-welcome img:hover{
  transform:scale(1.06);
}

    
    @media(max-width:1048px){

.navbar-brand{
font-size:32px;
padding-left:60px;
}





@media(max-width:900px){


.navbar-brand{

font-size:25px;
padding-left:23px;
z-index: 1000!important;
}



}

<<<<<<< HEAD
.registration{
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding:30px 0;
  margin:auto;
  margin-bottom:40px;
  margin-top:40px;
  background:pink;
}
=======
>>>>>>> fe9aaf9f4e005ea7f8c24396ea02d39255381f47
